{% extends "NelmioApiDocBundle::layout.html.twig" %}

{% block nav %}
    {% for section, sections in resources  %}
        {% if section != '_others' %}
            <li class="nav-header">{{ section }}</li>
        {% else %}
            <li class="divider"></li>
        {% endif %}
        {% for resource, methods in sections %}
            {% for data in methods %}
                <li><a href="#{{ data.uri|replace({ '/': '' , '{': '', '}': '', '_': '' }) }}{{ data.method|lower|replace({ '|': '' }) }}">{{ data.uri|replace({ '{': '<', '}': '>' }) }}</a></li>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock nav %}

{% block content %}
    {% for section, sections in resources  %}
        <section>
        {% if section != '_others' %}
            <h2>{{ section }}</h2>
        {% endif %}
        {% for resource, methods in sections %}
            <div class="resource">
                <div class="heading">
                    {% if section == '_others' and resource != 'others' %}
                        <h3>{{ resource }}</h3>
                    {% elseif resource != 'others' %}
                        <h3>{{ resource }}</h3>
                    {% endif %}
                </div>
                <section class="endpoints">
                    <section class="endpoint">
                        <section class="operations">
                            {% for data in methods %}
                                {% include 'NelmioApiDocBundle::method.html.twig' %}
                            {% endfor %}
                        </section>
                    </section>
                </section>
            </div>
        {% endfor %}
        </section>
    {% endfor %}
{% endblock content %}
